<div>
    <span *ngIf="!selected" class="center text-neutral">{{ 'reservations.number-message' | translate }} </span>
    <div class="chip-container">
        <button 
            class="chip-button"
            *ngFor="let numberOption of numbers; trackBy: trackByNumber"
            [ngClass]="{'selected': selected === numberOption}"
            (click)="onSelection(numberOption)"
            >
            <p-chip>
                {{ numberOption }}
            </p-chip>
        </button>
    </div>
</div>