<h1> {{  'reservations.title' | translate }} </h1>
<p-inputgroup>
    <div>
        <mat-card class="app-card" style="width: 100%">
            <app-breadcrumb
                [items]="breadCrumbItems"
                (onSelection)="onStageSelection($event)"
                [selectedIndex]="formComponent"
                >
            </app-breadcrumb>
            <app-date-picker
                *ngIf="formComponent === 0"
                (dateSelected)="onDateSelected($event)"
                [selected]="reservation.date"
            ></app-date-picker>
            <app-time-picker
                *ngIf="formComponent === 1"
                [schedule]="schedule"
                (timeSelected)="onTimeSelected($event)"
                >
            </app-time-picker>
            <app-num-picker
                *ngIf="formComponent === 2"
                (numberSelected)="onNumberSelected($event)"
                >
            </app-num-picker>
            <div *ngIf="formComponent === 3">
                <div>
                    <p-inputgroup-addon>
                        <i class="pi pi-user"></i>
                    </p-inputgroup-addon>
                    <input pInputText placeholder="Username" />
                </div>
                <div>
                    <p-inputgroup-addon>
                        <i class="pi pi-map"></i>
                    </p-inputgroup-addon>
                    <p-select 
                        [(ngModel)]="selectedCity" [options]="cities" 
                        optionLabel="name" placeholder="City" 
                    />
                </div>
            </div>
        </mat-card>
    </div>
</p-inputgroup>
