<div class="page-content">
    <div class="title">
        <h1>{{ "restaurant-name" | translate }}</h1>
        <hr>
    </div>
    <div class="cover-photo">
        <img 
            src="assets/images/capa/fachada.jpg" 
            alt="">
    </div>
    <div class="box-wrapper">
        <ng-container *ngFor="let productFamily of productFamilies$ | async">
            <div class="box" (click)="selectCategory(productFamily.id)"
                [ngClass]="{
                    'not-selected': !!selectedFamily && (selectedFamily.id !== productFamily.id)
                }">
                <img
                    [src]="productFamily.img"
                    width="100%"
                    />
                <div class="category"> <p style="color: var(--color-orange-brown-100)" lang="pt"> {{ productFamily.id | translate }} </p></div>
            </div>
        </ng-container>
    </div>
    <p [ngClass]="{'hidden': !!selectedFamily}"> {{ "pick-category" | translate }} </p>
    <ng-container *ngIf="selectedFamily?.categories as categories">
        <div style="margin: 0 20px">
            <app-menu-item 
                [categories]="categories">
            </app-menu-item>
        </div>
    </ng-container>
</div>
