<div class="page-content">
    <div class="title">
        <h1>Alfredo dos Frangos</h1>
        <hr style="border: none; height: 1px; background-color: #FFFFFF;">
    </div>
    <div class="box-wrapper">
        <ng-container *ngFor="let productFamily of productFamilies$ | async">
            <div class="box" (click)="selectCategory(productFamily.id)"
                [ngClass]="{'some-category-selected': !!selectedFamily,
                    'not-selected': !!selectedFamily && (selectedFamily.id !== productFamily.id)
                }">
                <img
                    [src]="productFamily.img"
                    width="100%"
                    />
                <div class="category"> {{ productFamily.id }}</div>
            </div>
        </ng-container>
    </div>
  </div>
<ng-container *ngIf="selectedFamily?.categories as categories">
    <app-menu-item 
        [categories]="categories">
    </app-menu-item>
</ng-container>
