<div>
    <span class="center text-neutral">{{ 'reservations.time-message' | translate }} </span>
    <div class="form-container">
        <div *ngFor="let scheduleKey of shifts(); trackBy: trackByKey">
            <h3> {{ scheduleKey | translate }} </h3>
            <div class="chip-container">
                <button 
                    *ngFor="let timeOption of schedule[scheduleKey]; trackBy: trackByKey"
                    class="chip-button" 
                    [ngClass]="{'selected': selected === timeOption}"
                    (click)="onSelection(timeOption)">
                    <p-chip>
                        {{ timeOption | timeFormat }}
                    </p-chip>
                </button>
            </div>
        </div>
    </div>
</div>