<footer class="position-relative bottom-0">
    <div class="footer">
        <ul class="nav list-inline col-xs-3" style="justify-content: center;">
            <li class="mx-2 my-2">
                <i class="me-1 bi bi-telephone-fill"></i>
                <span>
                    <a href="tel:+351939451440">
                        +351 939 451 440
                    </a>
                </span>
            </li>
            <li class="mx-2 my-2">
                <i class="me-1 bi bi-google"></i>
                <span>
                    <a href="https://g.co/kgs/52yGoYr">
                        Alfredo dos Frangos
                    </a>
                </span>
            </li>
            <li class="mx-2 my-2">
                <i class="me-1 bi bi-instagram"></i>
                <span>
                    <a href="https://www.instagram.com/alfredo_dos_frangos?igsh=MTF6a21yNDk4OHRmeQ==
                    "> 
                        {{ 'alfredo_dos_frangos' }}
                    </a>
                </span>
            </li>
        </ul>
    </div>
</footer>
