<div *ngIf="!inline" class="lang-wrapper">
    <div class="dropdown">
        <button 
            class="btn dropdown-toggle"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >
            <img [src]="'assets/icons/flags/flag-' + currLang + '.svg'" alt="">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li
                *ngFor="let lang of translateService.getLangs(); trackBy: trackLang">
                <img 
                    class="flag clickable"
                    (click)="changeLang(lang)" 
                    [src]="'assets/icons/flags/flag-'+lang+'.svg'" 
                    [alt]="lang">
        </li>
        </ul>
    </div>
</div>

<div *ngIf="inline" class="lang-wrapper">
    <ng-container
        *ngFor="let lang of translateService.getLangs(); trackBy: trackLang">
        <img 
            class="flag"
            (click)="changeLang(lang)" 
            [src]="'assets/icons/flags/flag-'+lang+'.svg'" 
            [alt]="lang">
    </ng-container>
</div>
