:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.category-header {
    margin: 0 70px;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

hr {
    width: 100%;
}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2vh 3vh;
    max-width: 1250px;
    padding: 20px;
}

.item {
    width: min(80vw, 450px);
    height: max(14vh, 12vw);
    min-height: max-content;
    max-height: 150px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--border-color);
    gap: 15px;
    background-color: var(--card-color);
}

.minimal {
    height: max-content;
    max-width: 350px;
}

img.picture {
    object-fit: cover;
    z-index: 1;
    height: min(24vw, 90%);
    width: auto;
    border-radius: var(--border-radius);
    padding: 5px;
    margin-top: 10px;
}

.menu-item-name {
    font-size:  clamp(12px, 1.6vw, 20px);
    font-weight: bold;
}

.menu-item-price {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size:  clamp(12px, 1.6vw, 20px);
}

.menu-item-description {
    font-size: clamp(10px, 1.5vw, 16px);
    color: var(--color-green);
    margin-top: 5px;
}

.item-detail {
    height: 100%;
    width: 100%;
    padding: 10px;
    min-width: 120px
}

.item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 50px;
    padding: 10px 10px 10px 5px;
}

.item-right-minimal {
    display: flex;
    gap: 5px;
}

.item-right span {
    display: flex;
}

.add-icon {
    width: 36px;
    height: 36px;
}

.minimal .add-icon {
    margin-right: 10px;
}

.add-icon:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
