<ng-container *ngFor="let category of filteredCategories; trackBy: trackById">
    <div class="category-wrapper">
        <div class="category-header">
            <h3> {{ category.id | translate }}</h3>
            <hr>
        </div>
        <div class="box-wrapper">
            <ng-container *ngFor="let item of category.items; trackBy: trackById" >
                <ng-container 
                    [ngTemplateOutlet]="category.detail ? detailItem : minimalItem"
                    [ngTemplateOutletContext]="{item, id: item.id}">
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-template #minimalItem let-item="item" let-id="id">
    <div [id]="id" class="app-card item minimal" [ngClass]="{'disabled': item.indisp}">
        <div class="item-detail">
            <span class="menu-item-name">{{ item.id | translate }}</span>
        </div>
        <div class="item-right-minimal">
            <span class="menu-item-price"> {{ item.price | currency: 'EUR' }} </span>
            <img class="add-icon" 
                *ngIf="false"
                [ngClass]="{'disabled': item.indisp}" 
                src="assets/icons/add-icon.svg" [alt]="item.id">
        </div>
    </div>
</ng-template>

<ng-template #detailItem let-item="item" let-id="id">
    <div class="app-card item" [ngClass]="{'disabled': item.indisp}">
        <div style="display: flex; height: 100%;">
            <img class="picture"
            [src]="item.img?.length ? item.img : 'assets/icons/meal.png'"
            width="200px"
            height="200px"
            />
            <div class="item-detail">
                <span class="menu-item-name">{{ item.id | translate }}</span>
                <p class="menu-item-description"> {{ (item.id + '.desc') | optTranslate }} </p>
            </div>
        </div>
        <div class="item-right">
            <span class="menu-item-price"> {{ item.price | currency: 'EUR' }} </span>
            <img class="add-icon" 
                [ngClass]="{'disabled': item.indisp}" 
                src="assets/icons/add-icon.svg" [alt]="item.id">
        </div>
    </div>
</ng-template>
