:host {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category-header {
    margin: 0 70px;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

h3 {
    color: white !important;
}

hr {
    width: 100%;
}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2vh 3vh;
    max-width: 1250px;
    padding: 20px;
}

.item {
    width: min(70vw, 450px);
    height: max(12vh, 12vw);
    min-height: max-content;
    max-height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    gap: 10px;
    background-color: rgba(224, 110, 3, 0.95);
}

img {
    object-fit: cover;
    z-index: 1;
    height: 100%;
    width: max(12vh, 12vw);
    border-radius: 10px;
}

.menu-item-name {
    font-size: 18px;
}

.menu-item-price {
    font-weight: 800;
}

.menu-item-description {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.item-detail {
    height: 100%;
    padding: 10px
}

.item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100px;
    padding: 10px;
}

.item-right span {
    display: flex;
}

.add-icon {
    width: 36px;
    height: 36px;
}

.add-icon:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
